# HipoBridge Configuration File
# Configuration settings for the HipoBridge FHIR API gateway
#
# Copyright (C) 2025 Costin Stroie <costinstroie@eridu.eu.org>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#
# This file contains the main configuration for the HipoBridge application.
# You can override these settings by creating a local.cfg file with your custom values.
#
# Example local.cfg:
# [server]
# port = 8080
# 
# [hipocrate]
# service_url = http://your-hipocrate-server/hipocrate

[server]
# Server configuration
# host: IP address to bind to (0.0.0.0 for all interfaces)
# port: Port number for the HTTP server
host = 0.0.0.0
port = 44660

[hipocrate]
# Hipocrate service configuration
# service_url: Base URL of the Hipocrate medical system
#              This should point to the root directory of your Hipocrate installation
service_url = http://127.0.0.1/hipocrate
