# Region identification rules for medical imaging
# Format: region_name = keyword1, keyword2, keyword3, ...

[radiography]
chest = toracica, pulmonara
ribs = coastelor
sternum = sternului
abdomen = abdomenului, renala, straini
skull = craniului, occiput
mandible = mandibulei, temporomandibulare
nose = nasului
sinuses = sinusului
neck = laringelui
spine = coloanei
pelvis = pelvina
clavicle = claviculei
hand = mainii, carpului
upper_limb = antebratului, humerusului
shoulder = umarului, scapulei
elbow = cotului
hip = soldului
foot = piciorului
lower_limb = femurului, gambei
knee = genunchiului
ankle = gleznei
other = schelet, silverman, displazii

[ultrasound]
brain = capului
chest = toracelui, peretelui
neck = gatului
abdomen = abdominala
spine = coloanei
pelvis = pelviana
hip = soldului
inguinal = inghinale
scrotum = scrotala
skin = tegumentului
fetus = fetale, fatului
other = altor

[ct]
brain = creierului, pituitare
neck = gatului
chest = toracelui
abdomen = abdomenului
pelvis = pelvisului
spine = coloanei
upper_limb = superior
lower_limb = inferior
sinuses = facial, sinusurilor
ear = urechii, temporal
other = altor

[mri]
brain = creierului
neck = gatului
chest = toracelui
abdomen = abdomenului
pelvis = pelvisului
spine = coloanei
upper_limb = superior
lower_limb = inferior
head = capului
other = altor
